* {
	border: none;
	font-family: Iosevka Comfy;
	font-size: 13px;
	min-height: 0;
}

tooltip {
	background: #282828;
	border: 2px solid #433e3c;
        border-radius: 0px;
}

tooltip label {
	color: #d5c4a1;
}

window#waybar {
	background: rgba(40, 40, 40, 0.8);
	color: #d5c4a1;
}

#workspaces,
#window {
	background: transparent;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
}

#workspaces {
	padding: 0 0em;
}

#workspaces button {
	color: #d5c4a1;
	background: transparent;
	border-radius: 0px;
}

#workspaces button.active {
	background: rgba(168, 153, 132, 0.3);
	border-radius: 0px;
}

#workspaces button:hover {
	background: rgba(168, 153, 132, 0.5);
	border-radius: 0px;
}

#window {
	padding: 0 0.8em;
}

#clock:hover,
#battery:hover,
#wireplumber:hover,
#network:hover {
	background: rgba(168, 153, 132, 0.3);
	border-radius: 0px;
}

#clock,
#battery,
#wireplumber,
#network,
#tray {
	color: #d5c4a1;
	background: transparent;
	padding: 0 0.8em;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;margin-bottom: 0px;
	border-radius: 0px;
}
